[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/usr/local/nexus-3.38.1-01/bin/nexus start
ExecStop=/usr/local/nexus-3.38.1-01/bin/nexus stop
User=root
Restart=on-abort

[Install]
WantedBy=multi-user.target